@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@800&family=Lora&family=Open+Sans:wght@300&family=Overpass&display=swap");

h2 {
  font-size: 1rem;
}

.App {
  font-family: "Open Sans", sans-serif;
  padding: 1.5rem;
  --border-radius: 5px;
}

.btn {
  display: block;
  cursor: pointer;
  position: relative;
  width: auto;
  color: black;
  border: none;
  border-bottom: 1px white solid;
  border-radius: 3px;
  padding: 0.5rem 0.5rem;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.2s;
  user-select: none;
}

.btn::after {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  border-bottom: 1px black solid;
  transition: all 0.5s;
}

.btn:hover {
  font-size: 1.2rem;
  padding: 0.3rem 0.2rem;
}

.btn:hover::after {
  left: 0;
  width: 100%;
}

.btn:active {
  margin-top: 5px;
  margin-bottom: -5px;
}

.btn:disabled {
  cursor: auto;
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  border-color: white;
  color: grey;
  background-color: transparent;
}

.btn:disabled::after {
  display: none;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-main > div {
  min-width: 40vw;
  max-width: 500px;
}

@media (max-width: 768px) {
  .App-main > div {
    min-width: 80vw;
  }
}
