/*.App {
  text-align: center;
  display: grid;
  grid-template-columns: [left] 50px [left-padded] auto [right-padded] 50px [right];
  grid-template-rows: [top] 50px [top-padded] auto [bottom-padded] 50px [bottom];
  height: 100vh;
}

#icon {
  grid-column: left / left-padded;
  grid-row: top / top-padded;
  background-color: blue;
}

#center {
  grid-column: left-padded / right-padded;
  grid-row: top-padded / bottom-padded;
}
*/
