.collapsable {
  position: relative;
}

.collapsable-collapsed {
  margin-bottom: 1rem;
}

.collapsable-collapsed > .btn-collapsable {
  position: relative;
  width: 100%;
  border: 1px dashed black;
  min-width: 150px;
  padding: 0.5rem;
}

.btn-collapsable {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
  border: 1px solid black;
  background: none;
  transition: all 0.2s;
}

.btn-collapsable:hover {
  border: 1px dotted grey;
}
