.collapsable {
  position: relative;
}

.collapsable-collapsed {
  margin: 0 auto;
  margin-bottom: 1rem;
}

.collapsable-collapsed > .btn-collapsable {
  position: relative;
  width: 100%;
  border: 1px dashed black;
  min-width: 150px;
  padding: 0.5rem;
}

.btn-collapsable {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
  border: 1px solid black;
  background: none;
  transition: all 0.2s;
}

.btn-collapsable:hover {
  border: 1px dotted grey;
}

@media (max-width: 877px) {
  .collapsable-collapsed {
    width: 80vw;
  }

  #fixed-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 100;

    width: 100%;
    margin: 0;

    text-align: center;
    background: white;
    border-top: 1px black solid;
  }

  #fixed-bottom .btn-collapsable {
    margin-top: 1rem;
  }

  #fixed-bottom.collapsable-collapsed > .btn-collapsable {
    margin-top: 5px;
  }
}
