.console {
  border: 1px solid black;
  border-radius: 5px;
  height: 50px;
  margin-bottom: 1rem;
}

.console > div:first {
  overflow-y: scroll;
  margin-right: -16px;
  padding-right: 16px;
}

.with-input {
  --console-padding: 2;
  position: relative;
  padding-bottom: 2rem;
}

.with-input > .console-input {
  position: absolute;
  bottom: 0;
  height: 2rem;
  width: 100%;
  padding: var(--console-padding);
  box-sizing: content-box;
  border: none;
}

.console-input > input {
  position: relative;
  border: none;
  border-top: 1px solid black;
  outline: none;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}
