.console {
  border: 1px solid black;
  border-radius: var(--border-radius);
  height: 10em;
  margin-bottom: 1rem;
  overflow-x: hidden;
}

.console-text {
  overflow-y: scroll;
  margin-right: -16px;
  padding-right: 16px;
  height: 100%;
}

.console-text > pre {
  padding-left: 5px;
  font-family: "Open Sans", sans-serif;
}

.with-input {
  --console-padding: 2;
  position: relative;
  padding-bottom: 2rem;
}

.with-input > .console-input {
  position: absolute;
  bottom: 0;
  height: 2rem;
  width: 100%;
  padding: var(--console-padding);
  box-sizing: content-box;
  border: none;
}

.console-input > input {
  font-family: "Open Sans", sans-serif;
  position: relative;
  border: none;
  border-top: 1px solid black;
  outline: none;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}

@media (max-height: 877px) {
  .console {
    height: 6rem;
  }
}
