.memory-field {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 1rem;
}

.memory-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px solid black;

  min-width: 96px;
  margin: 10px 10px;
  text-align: center;
}

.memory-block > div:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
  border-bottom: black 1px solid;
}

.memory-block > div:nth-child(2) {
  grid-area: 2 / 1 / 3 / 2;
  margin: 0 4px;
}

.memory-block-highlighted {
  border-color: red;
}

.memory-block-highlighted > div:nth-child(1) {
  border-bottom: 1px red solid;
}
