.program-field {
  padding: 1rem;
  border: 1px black solid;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
}

.program-field > span {
  color: black;
  font-size: 1rem;
  transition: 0.4s all;
}

.program-field > .highlighted {
  color: red;
  font-size: 1.4rem;
}
