.program-field {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px black solid;
  border-radius: var(--border-radius);
  height: 100px;
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
}

.program-field > span {
  color: black;
  font-size: 1rem;
  transition: 0.4s all;
}

.program-field > p {
  position: absolute;
  right: 10px;
  bottom: 10px;
  margin: 0;
  color: grey;
}

.program-field > .highlighted {
  color: red;
  font-size: 1.4rem;
}

.visualization {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 0px;
  margin-top: -1rem;
}

.visualization:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
}

.visualization:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
}

@media (max-width: 768px) {
  .visualization {
    display: block;
  }
}
