.program-field {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px black solid;
  border-radius: var(--border-radius);
  height: 12rem;
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
}

.program-field > span {
  color: black;
  font-size: 1rem;
  transition: 0.04s all;
  cursor: pointer;
  border: 1px solid transparent;
  position: relative;
}

.program-field > span:hover {
  border: 1px solid red;
}

.program-field > .highlighted {
  color: red;
}

.program-field > .highlighted::before {
  content: "^";
  position: absolute;
  bottom: -60%;
}

.program-field > .breakpoint {
  border: 1px solid red;
}

.program-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 0px;
}

.program-grid:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
}

.program-grid:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
}

@media (max-width: 1043px) {
  .program-grid {
    display: block;
  }
}
